{% liquid
  assign blog = section.settings.blog
  assign block_settings = block.settings
%}

<div class="blog-posts-title" {{ block.shopify_attributes }}>
  <h2
    class="
      {% if block_settings.type_preset != 'custom' %}type-preset--{{ block_settings.type_preset }}{% endif %}
    "
    style="
      {% if block_settings.type_preset == 'custom' %}
        {% if block_settings.font %}font-family: {{ block_settings.font }};{% endif %}
        {% if block_settings.font_size != blank %}font-size: {{ block_settings.font_size }};{% endif %}
      {% endif %}
      text-align: {{ block_settings.alignment }};
    "
  >
    {{ blog.title | default: 'Blog' }}
  </h2>
</div>

{% stylesheet %}
  .blog-posts-title {
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.title",
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.type_preset",
      "options": [
        {
          "value": "h1",
          "label": "t:options.heading_1"
        },
        {
          "value": "h2",
          "label": "t:options.heading_2"
        },
        {
          "value": "h3",
          "label": "t:options.heading_3"
        },
        {
          "value": "h4",
          "label": "t:options.heading_4"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "h2"
    },
    {
      "type": "font_picker",
      "id": "font",
      "label": "t:settings.font",
      "default": "var(--font-heading--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "text",
      "id": "font_size",
      "label": "t:settings.font_size",
      "default": "2rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    }
  ]
}
{% endschema %}
