{% liquid
  assign product = closest.product | default: section.settings.product
  assign block_settings = block.settings
%}

<div
  class="
    product-title
    size-style
    {% if block_settings.background %}product-title--background{% endif %}
  "
  style="{% render 'size-style', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  <h1
    class="
      {% if block_settings.type_preset != 'custom' %}type-preset--{{ block_settings.type_preset }}{% endif %}
    "
    style="
      {% if block_settings.type_preset == 'custom' %}
        {% if block_settings.font %}font-family: {{ block_settings.font }};{% endif %}
        {% if block_settings.font_size != blank %}font-size: {{ block_settings.font_size }};{% endif %}
        {% if block_settings.line_height %}line-height: var(--line-height-{{ block_settings.line_height }});{% endif %}
        {% if block_settings.letter_spacing %}letter-spacing: var(--letter-spacing-{{ block_settings.letter_spacing }});{% endif %}
        {% if block_settings.case %}text-transform: {{ block_settings.case }};{% endif %}
        {% if block_settings.wrap %}text-wrap: {{ block_settings.wrap }};{% endif %}
        {% if block_settings.color != blank %}color: {{ block_settings.color }};{% endif %}
      {% endif %}
      {% if block_settings.alignment %}text-align: {{ block_settings.alignment }};{% endif %}
    "
  >
    {{ product.title | default: 'Product Title' }}
  </h1>
</div>

{% stylesheet %}
  .product-title {
    width: 100%;
  }

  .product-title--background {
    background-color: var(--background-color);
    border-radius: var(--corner-radius, 0);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.title",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "100%",
          "label": "t:options.full_width"
        }
      ],
      "default": "100%"
    },
    {
      "type": "select",
      "id": "max_width",
      "label": "t:settings.max_width",
      "options": [
        {
          "value": "xsmall",
          "label": "t:options.extra_small"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.type_preset",
      "options": [
        {
          "value": "h1",
          "label": "t:options.heading_1"
        },
        {
          "value": "h2",
          "label": "t:options.heading_2"
        },
        {
          "value": "h3",
          "label": "t:options.heading_3"
        },
        {
          "value": "h4",
          "label": "t:options.heading_4"
        },
        {
          "value": "h5",
          "label": "t:options.heading_5"
        },
        {
          "value": "h6",
          "label": "t:options.heading_6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "h5"
    },
    {
      "type": "font_picker",
      "id": "font",
      "label": "t:settings.font",
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "text",
      "id": "font_size",
      "label": "t:settings.font_size",
      "default": "1rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.text_transform",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        },
        {
          "value": "lowercase",
          "label": "t:options.lowercase"
        },
        {
          "value": "capitalize",
          "label": "t:options.capitalize"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.text_wrap",
      "options": [
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "pretty",
          "label": "t:options.pretty"
        }
      ],
      "default": "pretty",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "color",
      "id": "color",
      "label": "t:settings.color",
      "default": "var(--color-foreground)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "checkbox",
      "id": "background",
      "label": "t:settings.background",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:settings.background_color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "range",
      "id": "corner_radius",
      "label": "t:settings.corner_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
